.answer-set .answer {
  display: inline-block;
  margin: 0.5rem;
  width: 80px;
}

.answer-set .answer span {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.phrase-answer {
  background-color: #EEE;
  border-radius: 4px;
  height: 2.5rem;
  margin: 0.5rem;
  width: 80px;
}

.button.button-primary.answer.correct {
  pointer-events: none;
  border-color: #00CC55;
  background-color: #00CC55;
}

.button.button-primary.answer.incorrect {
  border-color: #CC2A17;
  background-color: #CC2A17;
}

.answer {
  z-index: 2;
}

.answer.correct {
  z-index: 1;
}

.answer.ui-draggable-dragging {
  z-index: 3;
}
